<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nudomy</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="/js/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  </head>
  <body class="container">
    <div id="navbar">
      <button
        class="btn btn-danger"
        href="/logout"
        onClick='document.location.href="/logout"'
      >
        Logout
      </button>
    </div>

    <div class="greetings" style="text-align: center;">
      <br><h1>Hello <%= name %></h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <form id="form-del-metrics" method="post" >
          <div class="form-group">
            <label for="dele_name_col">DELETE METRICS</label>
            <select class="form-control" id="del_name_col">
            </select>
          </div>
          <div><br></div>
        </form>
        <br>
        <button class="btn btn-success center-block" id="del-metrics" >Delete selected metrics</button>
      </div>
      <div class="col-md-6">
        <form id="form-add-metrics" method="post" >
          <div class="form-group">
            <label for="name_col">ADD METRICS</label>
            <select class="form-control" id="name_col">

            </select>
          </div>
          <input class="form-control" type="text" placeholder="Input of metric">
        </form>
        <br>
        <button class="btn btn-success center-block" id="add-metrics" >Add metrics</button>
      </div>
    </div>




    <div class="col-md-6 center-block">
      <br><br><br>
      <button class="btn btn-success center-block" id="show-metrics" >Show some metrics</button>
    </div>

    <div id="metrics"></div>


    <script type="text/javascript">
      let dropdown = document.getElementById("dele_name_col");
      let choices = [];
      $.getJSON("/metrics", {}, (data) => {});
      $.ajax({
        url: '/metrics',
        type: 'GET',
        success: (data, textStatus, xhr) => {
          console.log(data);
          Object.keys(data).forEach((el)=> {
            let choice = document.createElement("option");
            choice.text = el;
            dropdown.add(choice, dropdown[0]);
          });
        },
      });



    </script>
    <script type="text/javascript">
      $('#show-metrics').click((e) => {
        e.preventDefault();
        $.getJSON("/metrics", {}, (data) => {
          /*
          const content = data.map(d => {
            return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
          });
          $('#metrics').append(content.join("\n"));
          */
          console.log(data);
        });
        $.ajax({
          url: '/metrics',
          type: 'GET',
          success: (data, textStatus, xhr) => {

            Object.keys(data).forEach((el)=> {
              let displays ='<canvas id="myChart_'+ el+ '" width="450" height="400"></canvas>';
              $('#metrics').append(displays);
              let values_array = [];
              let timestamps_array = [];
              let dates= [];
              let years= [];


              Object.keys(data[el]).forEach((pair)=> {
                timestamps_array.push(data[el][pair].timestamp);
                values_array.push(data[el][pair].value);
                dates.push(new Date(1000*data[el][pair].value));
                years.push((new Date(1000*data[el][pair].value)).getHours)
                // console.log((new Date(1000*data[el][pair].value)).getHours);
              });
              // console.log(dates[0]);


              var ctx = document.getElementById('myChart_'+el).getContext('2d');
              var linechart = new Chart(ctx, {
                type:'line',
                data: {
                  labels: timestamps_array,
                  datasets: [{
                     data: values_array,
                     label: "Metrics : " +el,
                     backgroundColor: [
                        'rgba(255, 50, 30, 0.80)'
                      ]
                   }]
                },
                options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  }
                }
              });

            });

          },
        });
      });
    </script>
  </body>
</html>
